@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';
@plugin "daisyui";

@theme {
	--font-display: 'Inter', 'sans-serif';

	--color-primary-d: #1c1f20;
	--color-secondary-d: #303334;
	--color-tertiary-d: #2d2e2f;
	--color-tertiary-hover: #59595c;
	--color-accent-d: #e9e9e7;
}

body {
	::-webkit-scrollbar {
		display: none;
		width: none;
	}
}
